@charset "UTF-8";

@media screen and (min-width: 768px){
    .ocultar{
        display: none;
    }

    .grid_landscape{
        height: 270px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 6px;
    }

    .img01{
        background-color: red;
        grid-column: 1 / 2;
        grid-row: 1 / 3;
        background-image: url(../imagens/bola_futebol_p.jpg);
        background-position: center;
        background-repeat: no-repeat;
        object-fit: cover;
    }

    .img02{
        background-color: yellow;
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        background-image: url(../imagens/futebol_praia_p.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        
    }

    .img03{
        background-color: aqua;
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }

   

    
}